.body{
    background-image: linear-gradient(to right,#000000, #3d3d3d, #000000);
}
.wrapper1{ 
    width: 360px; 
    padding: 20px;
    margin: 0 auto;
    color: #d1d1d1;
}
.wrapper1 h2{
    color: #009b70;
}
.title{
    color: #e7e7e7;
}
.success {
    color: #28a745 !important; 
}
footer {
    margin-top: auto;  
}